How to use set?

In [1]:
a = set('BOY')
a

{'B', 'O', 'Y'}

In [4]:
a.add('python')
a

{'B', 'O', 'Y', 'python'}

In [9]:
try: 
    a.remove('python')
except:
    pass

a

{'B', 'O', 'Y'}

In [10]:
a.update('python')
a

{'B', 'O', 'Y', 'h', 'n', 'o', 'p', 't', 'y'}

Remove duplication

In [11]:
l = [1,2,3,4,4,5,5,5]
a = set(l)
a

{1, 2, 3, 4, 5}

Relationship

In [12]:
set1 = set([1,2,3,4,5])
set2 = set([3,4,5,6,7])
# set3 = set1 & set2
set3 = set1.intersection(set2)
set3

{3, 4, 5}

In [13]:
# set4 = set1 | set2
set4 = set1.union(set2)
set4

{1, 2, 3, 4, 5, 6, 7}

In [14]:
# set5 = set1 - set2
set5 = set1.difference(set2)
set5

{1, 2}

In [15]:
# set6 = set2 - set1
set6 = set2.difference(set1)
set6

{6, 7}

In [16]:
# set7 = set2 ^ set1
set7 = set1.symmetric_difference(set2)
set7

{1, 2, 6, 7}

In [18]:
flag1 = set1.issubset(set2)
flag1

False

In [19]:
flag2 = set1.issuperset(set2)
flag2

False

In [20]:
flag3 = 1 in set1
flag3

True

In [22]:
flag4 = 1 not in set1
flag4

False